html {
    background: #018DED url(https://as01.epimg.net/meristation/imagenes/2019/03/24/noticias/1553419812_010655_1553419933_noticia_normal.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }
  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }
  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid rgb(104, 1, 1);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(25, 3, 121, 0.664),
      inset 0 0 0 3px rgb(243, 247, 14),
      inset 0 0 10px rgb(40, 2, 145),
      0 0 10px rgba(54, 5, 187, 0.2);
  }
  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
  }
  .hand {
    width: 50%;
    height: 6px;
    background: rgb(2, 113, 177);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 2.43, 0.58, 1)
  }